@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

/* Globals */
html, body {height:100%;}
body {
	display:flex;
	flex-direction:column;
	font-family:'Roboto', sans-serif;
	color:#444;
	background-color:#b8e9ff;
	background-image:url(../img/noise.png);
	background-image:linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
	-webkit-animation:background 20s infinite;
			animation:background 20s infinite;
	-webkit-user-select:none;
	 -khtml-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;
}
a, button {transition:all 0.50s;}
a:hover {text-decoration:none;}
label {font-weight:700; margin-bottom:0;}
label,
input[type='text'],
input[type='email'] {display:inline-block; text-align:center;}

.hidden {display:none;}
.btn,
.form-control {border-radius:0; border:0; background:rgba(0, 0, 0, 0.10);}
.form-control {color:#000;}
.form-control:focus {background:rgba(0, 0, 0, 0.30);}
.ghost-value {display:none;}
.red {background:lightsalmon!important;}
.blue {background:lightblue!important;}
.green {background:lightgreen!important;}

/* ------------------------------ */

/* Content Styles */
header, footer {background:rgba(0, 0, 0, 0.30); padding:20px;}

header, header a,
footer, footer a {color:#ddd;}
header a, footer a {display:inline-block; padding:5px 10px; background:rgba(255, 255, 255, 0.20);}
header a:hover, footer a:hover {color:#fff; background:rgba(255, 255, 255, 0.30);}

header .logo {font-size:30px;}
header .logo a {font-weight:bold; letter-spacing:1px;}

footer {font-size:25px; flex-shrink:0;}
footer .row {width:100%;}

#content {flex:1 0 auto; padding:20px 0; opacity:0;}

.timepicker:hover,
.form-control:hover,
.toggle-hours-minutes:hover {cursor:pointer;}

.toggle-hours-minutes {border-bottom:3px solid #000; animation:underlines 20s infinite; -webkit-animation:underlines 20s infinite;}

#date-flight-dummy-container {display:inline-block; width:0; height:0; overflow:hidden; margin:0; line-height:normal; padding:0; border:0; margin-left:-10px;}

#time-result {background:rgba(0, 0, 0, 0.07);}

/* ------------------------------ */

/* Bootstrap Cards */
.card {border-radius:0; border:0; background:rgba(0, 0, 0, 0.07);}

.card .card-body,
.card .card-body .form-control {font-size:35px;}

.card .card-body {line-height:65px;}
.card .card-body .form-control {line-height:40px;}

/* ------------------------------ */

/* Datetime Picker styles */
.bootstrap-datetimepicker-widget {background:rgba(255, 255, 255, 0.90); backdrop-filter:blur(4px);}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {border-radius:0; padding:7px;}
.bootstrap-datetimepicker-widget table td:not(.disabled):hover {background:rgba(0, 0, 0, 0.10);}
.bootstrap-datetimepicker-widget table td span {margin:0;}
.bootstrap-datetimepicker-widget table td.separator {font-size:25px; font-family:'Verdana', 'Tahoma';}
.bootstrap-datetimepicker-widget table td.today {background:rgba(0, 0, 0, 0.10);}

.bootstrap-datetimepicker-widget table thead tr:nth-of-type(1) {background:#fafafa;}
.bootstrap-datetimepicker-widget table thead tr:nth-of-type(2) th {padding:10px;}

.bootstrap-datetimepicker-widget .glyphicon {font-family:'FontAwesome';}
.bootstrap-datetimepicker-widget .glyphicon-chevron-up:before {content:"\f077"!important;}
.bootstrap-datetimepicker-widget .glyphicon-chevron-down:before {content:"\f078"!important;}
.bootstrap-datetimepicker-widget .glyphicon-chevron-left:before {content:"\f053"!important;}
.bootstrap-datetimepicker-widget .glyphicon-chevron-right:before {content:"\f054"!important;}

/* ------------------------------ */

/* Parsley Form Validation */
[data-parsley-validate] .parsley-errors-list {
	margin:2px 0 3px;
	padding:0;
	list-style-type:none;
	font-size:0.9em;
	line-height:0.9em;
	opacity:0;
	transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
[data-parsley-validate] .parsley-errors-list.filled {opacity:1;}
[data-parsley-validate] .parsley-error {background-color:rgba(255, 0, 0, 0.03); border:1px solid rgba(255, 0, 0, 0.20); color:#B94A48;}
[data-parsley-validate] .has-error label {color:#ff3547;}
[data-parsley-validate] ul.parsley-errors-list {margin-bottom:10px;}
[data-parsley-validate] ul.parsley-errors-list li {color:#ff3547; font-style:italic; margin-top:5px; line-height:12px;}

/* ------------------------------ */

/* Scrollbar Styles */
::-webkit-scrollbar			{background-color:#ddd; width:10px;}
::-webkit-scrollbar-track	{background-color:#ddd;}
::-webkit-scrollbar-thumb	{background-color:#aaa;}
::-webkit-scrollbar-button	{display:none;}

/* ------------------------------ */

/* Background Animations */
@-webkit-keyframes background {
	0%   { background-color: #b8e9ff; } /* blue */
	50%  { background-color: #cdb8ff; } /* purple */
	100% { background-color: #b8e9ff; } /* blue */
}

@-webkit-keyframes underlines {
	0%   { border-color: #4a93b1; } /* blue */
	50%  { border-color: #977bd8; } /* purple */
	100% { border-color: #4a93b1; } /* blue */
}
